.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
myConfig.R
CV-Recommendation-Letters-Preview.aux
CV-Recommendation-Letters-Preview.log
CV-Recommendation-Letters-Preview.pdf
CV-Recommendation-Letters-Preview.synctex.gz
make-recommendation-letter-list.tex
